  <div class="full-width light-gray pad">
    <div class="row">
      <div class="large-4 columns">
        <h3>The Bendyworks Blog</h3>
      </div>
      <div class="large-8 columns">
        <a href="">Categories</a>
        <a href="">Archives</a>
      </div>
    </div>
  </div>