<div class="large-12 columns">
  <h2>Get in touch</h2>
  <p>Awesome ideas need that first step to become reality. Contact us, and we'll take you the rest of the way.</p>
</div>
</div>


<div class='large-6 columns'>
  <form accept-charset="UTF-8" action="/contact" id="contact" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="Mktl3NYokPFyohweANrc5zBP1tlipKxpst1ITMGYsfA=" /></div>
    <fieldset>
      <h2>Send a message</h2>
      <label for="name">Name</label>
      <input autofocus="autofocus" id="name" name="name" type="text" />
      <label for="email">Email</label>
      <input id="email" name="email" type="text" />
      <label for="phone">Phone/Skype</label>
      <input id="phone" name="phone" type="text" />
      <label for="message">Message</label>
      <textarea id="message" name="message">&#x000A;</textarea>
      <input name="commit" type="submit" value="Send!" />
    </fieldset></form>
  </div>
  <div class="large-6 columns">
   <dl class='us'>
    <dt>Address</dt>
    <dd>
      <address>
        Bendyworks, Inc
        <br>
        106 East Doty Street, Suite 200
        <br>
        Madison, WI 53703
      </address>
    </dd>
    <dt>Phone</dt>
    <dd>(877) 640-2913</dd>
    <dt>Fax</dt>
    <dd>(608) 338-0014</dd>
  </dl>
</div>
</div>
</div>