<ul class="large-block-grid-3 small-block-grid-1 align-center">
  <li>
    <img class="fifty-radius" src="http://placehold.it/200x200">
    <h3>Bwoken 2 Beta Released</h3>
    <p>Invoke with "bwoken" instead of "rake"</p>
    <a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
  </li>
  <li>
    <img class="fifty-radius"  src="http://placehold.it/200x200">
    <h3>ConcertCam</h3>
    <p>Smile for the camera at Live on King Street</p>
    <a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
  </li>
  <li>
    <img class="fifty-radius"  src="http://placehold.it/200x200">
    <h3>It's Growth Day at Bendyworks</h3>
    <p>Watch our video about Growth Days</p>
    <a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
  </li>
</ul>