  <footer>
  <div class="hiring align-center full-width white">
    <h2>We're Hiring. Click here to Join the Team!</h2>
  </div>
    <div class="footer row">
      <div class="large-12 columns">
        <div class="large-3 columns">
            Footer area 1
        </div>
        <div class="large-6 columns">
            Footer area 2
        </div>
        <div class="large-3 columns">
            footer area 3
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
