<footer>
  <div class="footer row">
    <nav class="footer_nav large-12 large-centered columns">
      <ul class="title-nav">
        <li>
          <a class="title">One thing</a>
          <ul class="footer-sub-nav">
            <li>
              <a href="#"> FAQs </a>
            </li>
            <li>
              <a href="#">Policies</a>
            </li>
            <li>
              <a href ="#">Birds</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Other thing</a>
        </li>
        <li>
          <a href="#">Another thing</a>
        </li>
        <li>
          <a href="#">More things</a>
        </li>
        <li>
          <a href="#">blerp</a>
        </li>
        <li>
          <a href="#">beelp</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
</body>
</html>
