<header class="nav-thing">
  <div class="row mics-thing">
    <div class="nav-logo">
      <a href="/">
        <h1> Bendyworks</h1>
      </a>
    </div>
    <div class="bleep">
      <nav>
        <ul>
          <li class="name">
            <a href="/our_work"><h3>Our Work</h3></a>
          </li>
          <li>
            <a href="/how_we_work"><h3>Company</h3></a>
          </li>

          <li>
            <a href="/our_blog"><h3>Our Blog</h3></a>
          </li>
          <li>
            <a href="/community"><h3>Community</h3></a>
          </li>

          <li>
            <a href="/contact"><h3>Contact</h3></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

