<header class="main">
  <div class="row">
    <div class="large-3 columns nav-logo">
      <a href="/">
        <h1>Bendyworks</h1>
      </a>
    </div>
      <nav class="large-9 columns">
        <ul>
          <li class="name">
            <a href="/our_work">Our Work</a>
          </li>
          <li>
            <a href="/how_we_work">Company</a>
          </li>
          <li>
            <a href="/community">Community</a>
          </li>
          <li>
            <a href="/our_blog">Our Blog</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
  </div>
</header>

