<div class="row pad-more">
  <h2 class="align-center pad">More Case Studies</h2>
  <ul class="large-block-grid-4 align-center">
    <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>Improv Effect</h3>
      </a>
    </li>
     <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>Getty Images</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>Moz Analytics</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>StoryFirst</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>Murfie</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>Centro</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>CardMe</h3>
      </a>
    </li> <li>
      <a href="/case_study_single">
        <img class="fifty-radius"  src="http://placehold.it/200x200">
        <h3>IWNY</h3>
      </a>
    </li>

  </ul>
</div>