<div class="image_overlay">
  <a class="twitter" href="#">Twitter</a>
  <a class="twitter" href="#">GitHub</a>
  <a class="twitter" href="#">Dribbble</a>
  <a class="twitter" href="#">Email</a>
</div>