<%= render 'partials/header' %>
<div class="padder">

  <div class="hero case_study_single_hero">
    <div class="row">
      <div class="large-8 push-4 columns">
        <h2 class="white">
          Moz Analytics
        </h2>
        <h4 class="white">
          Adapt. Learn. Rock. How we took an ongoing project and an unfamiliar framework and ran with it.</h4>
      </div>
    </div>
  </div>

<div class="row pad-more">
  <div class="large-12 columns">
<div class="large-7 columns">
    <h3>
    <span>The</span>
    Problem
    </h3>
    <p>As part of their rebranding campaign, <a href="http://moz.com">Moz</a> (formerly SEOmoz) decided to completely rewrite their marketing software, Moz Analytics. They had the infrastructure and the vision, but they knew they needed a larger development team to build out the various aspects of the project.</p>
    <h3>
    <span>The</span>
    Solution
    </h3>
    <p>Bendyworks, of course. Since we insist on meeting our clients face-to-face and Mozzers live far away in a land called Seattle (sɪˈætl̩), we kicked the project off by flying out there for some quality time together. After building rapport at Moz home base, we added in those Bendyworks spices and voilà, the perfect team. Moz’s <a href="http://moz.com/about/tagfee"><span class="caps">TAGFEE</span></a> code fit wonderfully with our own values &#8212; it’s like we were made for each other.</p>
    <h3>
    <span>The</span>
    Results
    </h3>
    <p><a href="http://moz.com/products">Moz Analytics</a> has officially launched their beta, and we’re continuing to work with them to develop new features and refine existing ones. Working with the Moz team has been a great experience, and the exchange of knowledge has been fantastic. We solidified their testing practices, and they helped us take our Backbone.js skills to the next level.</p>
  </div>
  <div class="large-4 right columns"><h3 class="testimonials"><em>Testimonial: Nullam ultricies tellus et diam volutpat, at pulvinar quam bibendum. Quisque pellentesque, lacus nec porta blandit, lacus dolor vehicula ligula, quis congue mi quam vel ante. Maecenas consequat lectus vitae libero consectetur fermentum. Quisque odio mi, mattis in erat et, hendrerit semper sem.</em></h3></div>
  </div>
</div>

<div class="row pad-more">
  <h2 class="align-center"></h2>
  <ul class="large-block-grid-4 align-center">
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>

    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>
    <li>
      <img class="fifty-radius"  src="http://placehold.it/200x200">
       <h3>Improv Effect</h3>
       <a href="/case_study_single" class="tiny button radius">Read More</a>
    </li>

  </ul>
</div>

</div>
<%= render 'partials/footer' %>