<%= render 'partials/header' %>
<div class="padder">
   <div class="hero">
      <div class="row">
            <h1 class="white">External Blog Post Archives</h1>
  </div>

  </div>
<div class="row pad">
  <div class="large-12 columns">
    <ul>
      <li>
        <a href="#" class="press-link">
          <h3>New and Exciting Features Planned for Python 3.4</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
      <li>
        <a href="#" class="press-link">
          <h3>Zero: A Wrapper Around the ØMQ Python Library</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
      <li>
        <a href="#" class="press-link">
          <h3>Requests 2.0 coming soon with proxy support and bug fixes</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>

      <li>
        <a href="#" class="press-link">
          <h3>Rich Hickey’s Greatest Hits</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
       <li>
        <a href="#" class="press-link">
          <h3>New and Exciting Features Planned for Python 3.4</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
      <li>
        <a href="#" class="press-link">
          <h3>Zero: A Wrapper Around the ØMQ Python Library</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
      <li>
        <a href="#" class="press-link">
          <h3>Requests 2.0 coming soon with proxy support and bug fixes</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>

      <li>
        <a href="#" class="press-link">
          <h3>Rich Hickey’s Greatest Hits</h3>
        </a>
        <em>Ian Cordasco</em>
        <p>The Changelog</p>
      </li>
    </ul>
  </div>
</div>

</div>
</div>
</div>

<%= render 'partials/footer' %>