<%= render 'partials/header' %>
<div class="padder">
 <div class="hero">
   <div class="row">
     <div class="large-8 push-4 columns">
       <h2 class="white">
         Community
       </h2>
       <h4 class="white">
We're actively involved in our community both locally and globally. Check out some of the great things we do.       </h4>
    </div>
   </div>
 </div>

  <section class="events-block row pad">
    <h2 class="align-center pad">Upcoming Events</h2>

    <div class="large-6 columns">
        <h1 class="big">October 05</h1>
        <p>9am to 5pm</p>
        <h4 class="date-description">Rails Training at UW</h4>
        <a href="http://www.meetup.com/Mad-Railers/events/142236152/">Details Here</a>
    </div>

    <div class="other-events-1 large-3 columns">
      <h3 class="date">October 8</h3>
      <h4>Women in Tech Meetup</h4>
      <p class="date-description">A group of women interested in learning and teaching, as well as building a community of women in tech in Madison.</p>
      <a href="http://www.meetup.com/Madison-Women-in-Tech/">Details Here</a>
    </div>

    <div class="other-events-1 large-3 columns">
      <h3 class="date">Ocotober 18</h3>
      <h4>Rails Rumble</h4>
      <p class="date-description">The Rails Rumble is a distributed programming competition where teams of one to four people, from all over the world, have 48 hours to build an innovative web application.</p>
      <a href="http://railsrumble.com/">Details Here</a>
    </div>

  </section>

   <section class="blog-oss-content">
    <div class="row">
      <div  class="large-12 large-centered columns">
        <h2 class="align-center pad">We Heart Open Source</h2>
      </div>
      <div class="row">
        <div class="community-oss large-12 columns">
          <ul class="large-block-grid-5">
            <li>
              <img src="http://placehold.it/150x150">
              <h3>Open Source Project</h3>
            </li>
            <li>
              <img src="http://placehold.it/150x150">
              <h3>Open Source Project</h3>
            </li>
            <li>
              <img src="http://placehold.it/150x150">
              <h3>Open Source Project</h3>
            </li>
            <li>
              <img src="http://placehold.it/150x150">
              <h3>Open Source Project</h3>
            </li>
            <li>
              <img src="http://placehold.it/150x150">
              <h3>Open Source Project</h3>
            </li>
          </ul>
          <div class="row">
            <a href="https://github.com/bendyworks" class="button radius">See All Our Projects on Github</a>
          </div>
        </section><!-- end of first section -->





        <section class="meetup-content full-width pad">
          <div class="row">
            <h2 class="align-center pad">Sponsored/Hosted Meetups</h2>
            <ul class="large-block-grid-3 small-block-grid-2">
              <li>
                <img src="http://placehold.it/300x300">
                <h3>UXMad</h3>
                <p>Third Thursday of Month</p>
              </li>
              <li>
                <img src="http://placehold.it/300x300">
                <h3>Cocoaheads</h3>
                <p>Third Thursday of Month</p>
              </li>
              <li>
                <img src="http://placehold.it/300x300">
                <h3>MadRailers</h3>
                <p>Third Thursday of Month</p>
              </li>
              <li>
                <img src="http://placehold.it/300x300">
                <h3>UX Book Club</h3>
                <p>Third Thursday of Month</p>
              </li>
              <li>
                <img src="http://placehold.it/300x300">
                <h3>Mad Clojure</h3>
                <p>Third Thursday of Month</p>
              </li>
              <li>
                <img src="http://placehold.it/300x300">
                <h3>MadPug</h3>
                <p>Third Thursday of Month</p>
              </li>

            </ul>
          </div>
        </section>

        <div class="full-width light-gray pad">
          <div class="row">
            <h2 class="align-center pad">Speaking</h2>
            <ul class="large-block-grid-6 small-block-grid-2">
              <li class="highlight pad">
                <h5>Software Craftmanship’s Missing Link: Apprenticeship</h5>
                <em class="name">Matt Gauger</em>
                <a href="#">
                  <p>Nickel City Ruby</p>
                </a>
                <p>Madison, WI, July 25, 2014</p>
              </li>
              <li class="highlight pad">
                <h5>Software Craftmanship’s Missing Link: Apprenticeship</h5>
                <em class="name">Matt Gauger</em>
                <a href="#">
                  <p>Nickel City Ruby</p>
                </a>
                <p>Madison, WI, July 25, 2014</p>
              </li>
              <li class="highlight pad">
                <h5>Software Craftmanship’s Missing Link: Apprenticeship</h5>
                <em class="name">Matt Gauger</em>
                <a href="#">
                  <p>Nickel City Ruby</p>
                </a>
                <p>Madison, WI, July 25, 2014</p>
              </li>
              <li class="lowlight pad">
                <h5>Software Craftmanship’s Missing Link: Apprenticeship</h5>
                <em class="name">Matt Gauger</em>
                <a href="#">
                  <p>Nickel City Ruby</p>
                </a>
                <p>Madison, WI, July 25, 2014</p>
              </li>
              <li class="lowlight pad">
                <h5>Software Craftmanship’s Missing Link: Apprenticeship</h5>
                <em class="name">Matt Gauger</em>
                <a href="#">
                  <p>Nickel City Ruby</p>
                </a>
                <p>Madison, WI, July 25, 2014</p>
              </li>



            </ul>
          </div>
        </div>

        <section class="press-content">
          <div class="row">
            <div class="large-6 columns">
              <h2 class="align-center">Blogs</h2>
              <ul>
                <li>
                  <a href="#" class="press-link">
                    <h5>New and Exciting Features Planned for Python 3.4</h5>
                  </a>
                  <em>Ian Cordasco</em>
                  <p>The Changelog</p>
                </li>
                <li>
                  <a href="#" class="press-link">
                    <h5>Zero: A Wrapper Around the ØMQ Python Library</h5>
                  </a>
                  <em>Ian Cordasco</em>
                  <p>The Changelog</p>
                </li>
                <li>
                  <a href="#" class="press-link">
                    <h5>Requests 2.0 coming soon with proxy support and bug fixes</h5>
                  </a>
                  <em>Ian Cordasco</em>
                  <p>The Changelog</p>
                </li>

                <li>
                  <a href="#" class="press-link">
                    <h5>Rich Hickey’s Greatest Hits</h5>
                  </a>
                  <em>Ian Cordasco</em>
                  <p>The Changelog</p>
                </li>
              </ul>
                <a href="/community_blog_archives" class="button radius">Archives</a>
            </div>
            <div class="large-6 columns">
             <h2 class="align-center">Press</h2>
             <ul>
              <li>
                <a href="#" class="press-link">
                  <em>The Daily Page</em>
                  <h5>How did F. Stokes end up playing a gig at Bendyworks' downtown Madison office?</h5>
                </a>
                <p>When asked why the software development firm Bendyworks hosted a spontaneous hip-hop gig from Madison native F. Stokes in its downtown Madison offices Monday night, Jim Remsik, one of the firm's principals, eagerly offers up absolutely no justification.</p>
              </li>
              <li>
                <a href="#" class="press-link">
                  <em>Magazine Literacy</em>
                  <h5>Incubating magazine literacy at Bendyworks</h5>
                </a>
                <p>We’ve just moved in to a fabulous incubation space at Bendyworks, an agile technology juggernaut in Madison, WI.</p>
              </li>
            </ul>
          </div>
        </div>
      </section><!-- end of third row  -->
    </div>

    <%= render 'partials/footer' %>