<%= render 'partials/header' %>

  <div class="contact-us">
    <div class="row">
      <div class="contact-intro">
        <h2>Get in Touch!</h2>
      </div>
    </div>
  </div>

<%= render 'partials/footer' %>