<%= render 'partials/header' %>

	<div class="home-hero-image">
		<div class="intro-content">
			<div class="intro">
				<div class="row">
					<div class="intro-content right large-6 columns">
						<h2 class="intro-title">
							WE DESIGN, BUILD AND FIX DIGITAL APPLICATIONS.
						</h2>
						<p class="sub-title">

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-box">
		<div class="row">
			<div class="large-12 columns">
				<div class="home-box-content large-12 columns">
					<h2 class="intro-title-2">
							Bendyworks is a multidisciplinary team of web artisans that collaborates with forward-thinking customers to turn innovative ideas into elegant digital applications that charm the people who use them.
					</h2>
					<p class"sub-title-2">
						Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.

					</p>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="box-2">
		<div class="row">
			<div class="large-12 columns">
				<div class="home-box-content large-6 columns">
					<h2 class="intro-title-2">
						Ut nunc mi, auctor sit amet tempor in
					</h2>
					<p class"sub-title-2">
						Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
					</p>
				</div>
				<div class="large-6 columns">
					<img src="http://placehold.it/400x500">
				</div>
			</div>
		</div>
	</div>
</div>


	<div class="box-3">
		<div class="row">
			<div class="large-12 columns">
				<div class="large-6 columns">
					<img src="http://placehold.it/400x500">
				</div>
				<div class="home-box-content large-6 columns">
					<h2 class="intro-title-2">
						Ut nunc mi, auctor sit amet tempor in
					</h2>
					<p class"sub-title-2">
						Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
					</p>
				</div>

			</div>
		</div>
	</div>
</div>


	<div class="box-4">
		<div class="row">
			<div class="large-12 columns">
				<div class="home-box-content large-12 columns">
					<h2 class="intro-title">
						From Our Blog
					</h2>
					<ul class="large-block-grid-3 small-block-grid-1 align-center">
						<li>
							<img class="fifty-radius" src="http://placehold.it/200x200">
								<h3>Bwoken 2 Beta Released</h3>
								<p>Invoke with "bwoken" instead of "rake"</p>
								<a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
						</li>
						<li>
							<img class="fifty-radius"  src="http://placehold.it/200x200">
								<h3>ConcertCam</h3>
								<p>Smile for the camera at Live on King Street</p>
								<a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
						</li>
						<li>
							<img class="fifty-radius"  src="http://placehold.it/200x200">
								<h3>It's Growth Day at Bendyworks</h3>
								<p>Watch our video about Growth Days</p>
								<a href="http://localhost:3000/our_blog_deep" class="tiny button radius">Read More</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<%= render 'partials/footer' %>