<%= render 'partials/header' %>


<div class="blog-stuffs">
   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>

   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>


   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>

   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>

   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>

   <div class="blog-2">
    <div class="blog-intro row">
      <div class="blog-entry large-12 columns">
        <img src="http://placehold.it/100x100" class="large-2 small-4 small-centered large-uncentered columns">
        <div class="blog-title large-7 columns">
          <h2>
            Nunc semper, libero et placerat tempor, velit lorem ullamcorpe
          </h2>
          <div class="sub-headline">
            <h4>
            acus, quis tempor felis tortor aliquam nulla. Cras egestas sem vel mi euismod molestie
            </h4>
          </div>
        </div>
        <div class="button-casing large-2 small-4 small-centered large-uncentered columns">
          <a href="#" class="button">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <a href="#" class="previous large-2 columns">Previous</a>
    <a href="#" class="next large-2 columns">Next</a>
  </div>

<%= render 'partials/footer' %>