<%= render 'partials/header' %>

  <div class="hero-image">
    <div class="intro-content">
      <div class="intro our-work">
        <div class="row">
          <div class="intro-content right large-6 columns">
            <h2 class="intro-title">
              Our Work.
            </h2>
            <p class="sub-title">
             Ut sit amet enim eu tellus convallis semper ac sed dolor. Donec sodales in risus vel gravida. Sed blandit elit in lobortis fringilla. Proin.
           </p>
         </div>
       </div>
     </div>
   </div>
  </div>

   <div class="work-box two">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="#" class="button work-button">Read More</a>
        </div>


        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>

      </div>
    </div>
  </div>

  <div class="work-box three">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="#" class="button work-button">Read More</a>
        </div>
      </div>
    </div>
  </div>


     <div class="work-box four">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="#" class="button work-button">Read More</a>
        </div>


        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>

      </div>
    </div>
  </div>

  <div class="client-list">
      <div class="row">
        <div class="client large-12 columns">
          <div class="client-title large-12 columns">Some of our Clients!</div>
          <ul>
            <li class="large-3 columns">
              <a href="#">MOZ</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Getty Images</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Crane Communications</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Improv Effect</a>
            </li>
            <li class="large-3 columns">
              <a href="#">StoryFirst Media</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Pabst Theater</a>
            </li>
            <li class="large-3 columns">
              <a href="#">ALICE</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Lightspeed Ventures</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Travis CI</a>
            </li>
            <li class="large-3 columns">
              <a href="#">Centro</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <%= render 'partials/footer' %>