<%= render 'partials/header' %>
<div class="padder">
 <div class="hero">
   <div class="row">
     <div class="large-8 push-4 columns">
       <h2 class="white">
         Work
       </h2>
       <h4 class="white">
        Browse our case studies to see how we turn great ideas into charming experiences and elegant applications.
       </h4>
    </div>
   </div>
 </div>


   <div class="work-box two">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="/case_study_single" class="button work-button">Read More</a>
        </div>


        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>

      </div>
    </div>
  </div>

  <div class="work-box three">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="/case_study_single" class="button work-button">Read More</a>
        </div>
      </div>
    </div>
  </div>


     <div class="work-box four">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            Ut nunc mi, auctor sit amet tempor in
          </h2>
          <p class"sub-title-2">
            Phasellus mi ipsum, sagittis sit amet lectus sit amet, laoreet porttitor sapien. Mauris et odio molestie, vulputate orci ut, pharetra tellus. Donec vel porta ipsum. Nulla id sagittis risus. Donec interdum nisl at est mattis, ac venenatis quam luctus. Vivamus pharetra tortor ac blandit eleifend. Ut sed est quis ligula gravida fringilla.
          </p>
          <a href="/case_study_single" class="button work-button">Read More</a>
        </div>


        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>

      </div>
    </div>
  </div>

  <div class="client-list">
      <div class="row">
        <div class="client large-12 columns">
          <div class="client-title large-12 columns">Some of our Clients!</div>
          <ul>
            <li class="large-3 columns">
              <a href="/case_study_single">MOZ</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Getty Images</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Crane Communications</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Improv Effect</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">StoryFirst Media</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Pabst Theater</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">ALICE</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Lightspeed Ventures</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Travis CI</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Centro</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

    <%= render 'partials/footer' %>