<%= render 'partials/header' %>
<div class="padder">
 <div class="hero">
   <div class="row">
     <div class="large-8 push-4 columns">
       <h2 class="white">
         Work
       </h2>
       <h4 class="white">
        Browse our case studies to see how we turn great ideas into charming experiences and elegant applications.
      </h4>
    </div>
  </div>
</div>


<div class="work-box two">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-6 columns">
        <h2 class="intro-title-2">
          Getty Images          </h2>
          <p class"sub-title-2">
            When Getty Images needed to move their website Photos.com off of an obsolete framework, they brought in Bendyworks to re-write the codebase.
          </p>
          <a href="/case_study_single" class="button work-button">Read More</a>
        </div>


        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>

      </div>
    </div>
  </div>

  <div class="work-box three">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="large-6 columns">
          <img src="http://placehold.it/400x400">
        </div>
        <div class="large-6 columns">
          <h2 class="intro-title-2">
            MOZ Analytics         </h2>
            <p class"sub-title-2">
              Adapt. Learn. Rock. How we took an ongoing project and an unfamiliar framework and ran with it.
            </p>
            <a href="/case_study_single" class="button work-button">Read More</a>
          </div>
        </div>
      </div>
    </div>


    <div class="work-box four">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns">
            <h2 class="intro-title-2">
              Murfie
            </h2>
            <p class"sub-title-2">
              A local entrepreneur approached us with rather ingenious idea: they wanted to create an online marketplace for new and used music, where music-lovers could buy, sell, and trade albums in their own online shops.
            </p>
            <a href="/case_study_single" class="button work-button">Read More</a>
          </div>


          <div class="large-6 columns">
            <img src="http://placehold.it/400x400">
          </div>

        </div>
      </div>
    </div>

    <%= render 'partials/more_work' %>


    <div class="client-list">
      <div class="row">
        <div class="client large-12 columns">
          <div class="client-title large-12 columns">Some of our Clients!</div>
          <ul>
            <li class="large-3 columns">
              <a href="/case_study_single">MOZ</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Getty Images</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Crane Communications</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Improv Effect</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">StoryFirst Media</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Pabst Theater</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">ALICE</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Lightspeed Ventures</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Travis CI</a>
            </li>
            <li class="large-3 columns">
              <a href="/case_study_single">Centro</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= render 'partials/footer' %>