.contact {
  padding-top: 200px;
  height: 10000px;
  background-color: black;
  display: none;
  color: white;
    overflow: hidden;
  color: white;
  z-index: 300000;
  position: absolute;
  h2 {
  color: white;
  }
}