header.main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  height: 100px;
  background-color: white;
  .nav-logo {
    padding-top: 5px;
  }
  .mobile-nav {
    display: none;
    @media all and (max-width: 500px) {
      display: block;
      float: right;
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: #565656;
      color: white !important;
      padding: 15px;
    }
  }
  ul {
    float: right;
    li {
      float: left;
      padding: 0 20px;
      list-style-type: none;
      font-weight: bold;
      a {
        display: inline-block;
        line-height: 100px;
        font-size: 18px;
      }
    }
  }
}

@media all and (max-width: 500px) {
  header.main {
    ul {
      display: none;
      float: right;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: black;
      color: white !important;
      padding: 15px;
      width: 300px;
      z-index: 20000;
      li a {
        clear: both;
        display: block;
        width: 300px;
      }
    }
  }
}