.intro {
	padding: 300px 30px;
	background-color: #1E1E1E;
	background-position: center;
	background-repeat: repeat;
	width: 100%;
	height: 1200px;
	h1 {
		color: white;
	}
	&.our-work {
		padding: 200px 0 0 0;
	}
	.intro-content {
		.intro-title {
			font-size: 45px;
			text-transform: uppercase;
			color: white !important;
		}
		.sub-title {
			font-size: 24px;
			color: white !important;
		}
	}
}


.home-box-content {
	padding: 100px;
}

.info-box {
	margin-top: 900px;
	z-index: 10;
	background-color: white;
	position: relative;
	h2 {
		font-size: 36px;
	}
	h4 {
		font-size: 20px;
	}
}
.box-2 {
	padding: 100px 0;
	background-color: #ddd;
	position: relative;
	z-index: 10;

	img {
		padding: 10px;
	}
}

.box-3 {
	padding: 100px 0;
	position: relative;
	background-color: white;
	z-index: 10;
	img {
		padding: 10px;
	}
}

.home-hero-image {
	position: fixed;
	z-index: 0;
	width: 100%;
	top: 100px;
}
