// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal and helper classes */

h2.intro-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 4em;
}

/* align text to the center */
.align-center {
  text-align: center;
}

/* make images into circles */

.fifty-radius {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.full-width {
  width: 100%;
}

.white {
  /*make text white, override everythig else */
  color: white !important;
}

.padder {
  /* wrapper class to pad for fixed header */
  margin-top: 100px;
}

.light-gray {
 /* give it a light gray bg */
 background-color: #d7d7d7;
}

.bg-white {
/* make bg color white */
background-color: white;
}

/*make sure it's on top*/
.top {
  z-index: 1000;
  position: relative;
}
/* pads full width rows */
.pad {
  padding: 50px 0;
}

.pad-more {
  padding: 150px 0;
}
.hero {
  width: 100%;
  background-color: #565656;
  padding: 100px 0;
}

.case_study_single_hero {
  padding: 250px 0;
}